<body><br>
    <h2 style="color:orange; font-size: 7em;"> LIBRARY APP</h2>
    <br>
    <br><br><br><br>
    <br>
    <br><br>
    <div style="color: whitesmoke; width: 70%; margin-left: 15%; margin-right: 15%; background-color: black;">
        
         <h5>In this Library App, you can view your favourite books, authors and read
            informations regarding them. Users can also add, edit and delete both books and 
            authors. If you don't have an account please create an account right away. 
        </h5> 
    </div>
    <div>
        <br><br><br><br>
    </div>
</body>

<style>
    body{
       height: 100%;
    }
</style>